<div class="text-right">
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-play-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-pause-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-reply"></i></button>
</div>
<div class="pro">
  <section class="sec">
    <h2>CONOCENOS</h2>
    <h4 class=""><strong>Mi Tiendita</strong> es una empresa que busca satisfacer necesidades de productos
      y/o servicios que las personas puedan tener. <br> <br>
      Somos una papeleria que esta abierta al publico en general, enfocada a estudiantes de
      todas las edades.</h4>
  </section>
  <section class="sec">
    <h2>ENCUENTRANOS.</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3695.450257076854!2d-102.2897725!3d22.1469266!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e29ca581b5e7%3A0xd5c0eff33edd24f5!2sEnrique%20Olivares%20Santana%2025%2C%20Progreso%20Nte%2C%2020678%20Pabell%C3%B3n%20de%20Arteaga%2C%20Ags.!5e0!3m2!1ses-419!2smx!4v1591656224651!5m2!1ses-419!2smx"
      width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </section>
</div>

<div class="">
  <hr>
  <h4>Los derechos reservador de esta pagina esta dada por:</h4>
  <h5>Jose Ramon Robledo Aguilar</h5>
  <h5>Carlos Alejandro Gonzalez Campos</h5>
  <h5>Jessica Guerrero Carrera</h5>
  <h5>Isaias Emmanuel Ramirez Gonzalez</h5>
  <h5>Mariela Teresa Serna Davila</h5>
</div>
