<div class="text-right">
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-play-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-pause-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-reply"></i></button>
</div>

<!--Ancla-->
<p id="ini"></p>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="des">
  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="presentacion">
    <mat-card-header fxLayoutAlign="center">
      <img src="../../../assets/img/logo6.png" mat-card-lg-image alt="...">
    </mat-card-header>
    <mat-card-header fxLayoutAlign="center">
    <img src="../../../assets/img/lider.png" class="lider" alt="...">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>APROVECHA LAS MEJORES REBAJAS EN NUESTRA SUCURSAL. NO SALGAS DE CASA PARA CONOCER NUESTROS MEJORES DESCUENTOS.</mat-card-title>
      <mat-card-subtitle>QUEDATE EN CASA</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>


<!--Baner_Descuentos actuales-->
<section class="baner">
 <h2>Descuentos actuales</h2>
</section>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="des">
  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-header fxLayoutAlign="center">
      <mat-card-title>DESPACHADOR SCOTCH</mat-card-title>
      <mat-card-subtitle>C-38 NEGRO</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/6.png" alt="">
    <mat-card-content>
      <p>$63.50</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title >LAPICES DE COLORES PRISMACOLOR</mat-card-title>
      <mat-card-subtitle >24 PZS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/2.png" alt="">
    <mat-card-content>
      <p>$46.50</p>
    </mat-card-content>

  </mat-card>
  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PLUMA BASIC DURA MAS CRISTAL</mat-card-title>
      <mat-card-subtitle>PUNTO MEDIO / TINTA ROJA / 12 PIEZAS.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/1.png" alt="">
    <mat-card-content>
      <p>$46.50</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>REPUESTO PARA PLUMA PARKER</mat-card-title>
      <mat-card-subtitle>(AZUL, PUNTO FINO)</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/3.png" alt="">
    <mat-card-content>
      <p>$63.50</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>MARCADOR AZOR MAGISTRAL CLASICO</mat-card-title>
      <mat-card-subtitle>(NEGRO, 2 PZS.)</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/4.png" alt="">
    <mat-card-content>
      <p> $46.00</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-header>

      <mat-card-title>MARCATEXTOS AZOR VISION PLUS</mat-card-title>
      <mat-card-subtitle>(5 PZS.)</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../../assets/productos/5.png" alt="">
    <mat-card-content color="warn">
      <p> $62.00</p>
    </mat-card-content>
  </mat-card>
</div>


<!--Icono para llamar a la anlca-->
<section class="ancla_s">
  <a href="#ini"><i class="fa fa-angle-double-up"></i></a>
 </section>
