<footer class="pie3">
  <section class="pro">
    <section class="pie_component">
      <p><strong>Contactanos:</strong></p>
      <p><i class="fa fa-phone"></i>(449 890 67 87) Pedidos y cotizaciones</p>
      <p><i class="fa fa-envelope"></i> mitiendita_jamir@gmail.com</p>
    </section>

    <section class="pie_component">
      <p><strong>Redes sociales</strong></p>
      <p> <a href="https://www.facebook.com" class="red"><i class="fa fa-facebook-square"></i></a>
       <a href="https://twitter.com" class="red "><i class="fa fa-twitter-square"></i></a>
       <a href="https://www.instagram.com" class="red"><i class="fa fa-instagram"></i></a></p>

    </section>

  </section>
</footer>
<section class="pie4">
  Copyright ©2020 por Mi Tiendita de México, S.A. de C.V. Todos los derechos reservados. MI TIENDITA® es una marca registrada propiedad de JAMIR Inc.

</section>
