<div class="text-right m-0">
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-play-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-pause-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;"><i class="fa fa-reply"></i></button>
</div>

<div class="pro2">

  <h3 class="">PREGUNTAS FRECUENTES</h3>
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>¿Puedo hacer compras en linea en la pagina de Mi Tiendita?</mat-expansion-panel-header>
      Aun no contamos con ese servicio, solo puede hacer compras presenciales en tienda.
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>¿Puedo realizar la devolución de un producto?</mat-expansion-panel-header>
    Cuando el cliente no está satisfecho con el producto, cuando el producto no tiene ningún fallo o tipo de incidencia.
    <br> La ley permite un plazo de 10 días de devolución desde la recepción del pedido. Desde papeleria de las ofertas nos preocupamos por la calidad del
    servicio que reciben los clientes, por lo que pone a su disposición un margen de 10 dias naturales. Una vez pasado el plazo, no podremos
    admitir su devolución.
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>¿Qué garantías tienen los productos de Mi Tiendita?</mat-expansion-panel-header>
    Trabajamos única y exclusivamente con primeras marcas, y por ello además de nuestra garantía de satisfacción, cada fabricante respalda
    su producto con su propia garantía.
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>¿Quién puede comprar en Mi Tiendita?</mat-expansion-panel-header>
    Todo el mundo puede comprar en Mi Tiendita. Particulares, Pymes, grandes empresas, organismos oficiales, entidades financieras, etc...
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Necesitas factura a otros datos fiscales</mat-expansion-panel-header>
    Todos los productos en Mi Tiendita salen con su factura a los datos que nos has facilitado en tu registro, si necesitas
    factura a otros datos, no olvides de rellenar bien la ficha con esos datos. Rellena bien el nombre de la sociedad, autonomo, cooperativa, asociación,
    comunidad de bienes, o la forma fiscal que tienes con su CIF y demás datos para que todo este correcto desde el principio.
    </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Todos los precios son IVA INLUIDO</mat-expansion-panel-header>
    En Mi Tiendita somos una empresa seria y coherente, por lo que hemos decidido no engañar ofreciendo precios SIN IVA con la escusa de que
    muchos de los gastos de papelería son desgravables en tu declaración de IVA (si eres autónomo o tines una sociedad). <br> AQUI NO HAY TRAMPA NI
     CARTÓN EL PVP ES CON IVA INCLUIDO es lo que vale y lo que vamos a cobrarle al final del proceso de compra.
 </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Quiero ponerme en contacto con el departamento de Atención al cliente ¿como lo hago?</mat-expansion-panel-header>
    En Mi Tiendita lo que queremos es atenderte bien, demostrarte que sabemos de lo que hablamos en papelería, que los 40 años de
    experiencia son de verdad... que somos unos profesionales de esto.
    <br>
    La forma mas fácil es mandanos un correo a mitiendita@gmail.com, nos comprometemos a contestarte en un máximo de 1 hora tu consulta.
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>¿está abierto en Agosto?</mat-expansion-panel-header>
    Te interesa si estamos abiertos en Agosto, eso quiere decir que trabajas en Agosto pues nosotros tambien estamos ABIERTOS EN AGOSTO.
  </mat-expansion-panel>

</mat-accordion>

</div>

